apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-mutation-labels
  namespace: cesi6  # ⚠️ REMPLACEZ par votre namespace !
  labels:
    app: nginx-mutation
    test: "mutation-labels"
    # On ne met PAS les labels managed-by, team, environment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-mutation
  template:
    metadata:
      labels:
        app: nginx-mutation
    spec:
      containers:
      - name: nginx
        image: nginx:1.25
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"
        securityContext:
          runAsUser: 101
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: cache
          mountPath: /var/cache/nginx
        - name: run
          mountPath: /var/run
      volumes:
      - name: cache
        emptyDir: {}
      - name: run
        emptyDir: {}