apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-mutation-securitycontext
  namespace: cesi6  # ⚠️ REMPLACEZ par votre namespace !
  labels:
    test: "mutation-securitycontext"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-mutation-sec
  template:
    metadata:
      labels:
        app: nginx-mutation-sec
    spec:
      # Pas de securityContext au niveau pod !
      containers:
      - name: nginx
        image: nginx:1.25
        resources:
          limits:
            cpu: "500m"
            memory: "512Mi"
          requests:
            cpu: "250m"
            memory: "256Mi"
        securityContext:
          runAsUser: 101
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: cache
          mountPath: /var/cache/nginx
        - name: run
          mountPath: /var/run
      volumes:
      - name: cache
        emptyDir: {}
      - name: run
        emptyDir: {}